/*

[Custom Stylesheet]

Project     :   ColorHost - Responsive HTML5 Web Hosting and WHMCS Template
Version     :   2.8
Author      :   ThemeLooks
Author URL  :   https://themeforest.net/user/themelooks


NOTE:
------
WRITE YOUR OWN CUSTOM CSS STYLES HERE.

*/

/*------------------------------------*\
    USER STYLES
\*------------------------------------*/
